body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
}
#navbar {
  background: #fff;
  border-bottom: solid 1px #000;
}
#navbar header {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px 0px 20px;
}
#navbar ul {
  padding: 0px;
}
#navbar li {
  display: block;
  padding: 10px 20px;
  border-top: solid 1px #000;
}
#navbar a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
#main-doc {
}
h1 {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
}
h2 {
    display: inline;
}
.main-section {
  
}
.main-section header {
  background: #ccc;
  padding: 20px 20px 10px 20px;
}
article {
  padding: 0px 20px;
}
code {
  display: block;
  background: #eee;
  padding: 10px;
  margin: 0px 40px;
}
@media screen and (min-width:800px) {
  #navbar {
    display: block;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0px;
    left: 0px;
    border-right: solid 1px #000;
  }
  #main-doc {
    margin-left: 300px;
  }
}
