body {
  font-family: "Lora";
  text-align: center;
  background: #ddd;
}
#main {
  margin: 30px 10px;
  display: block;
}
#img-div {
  padding: 20px;
  display: block;
  margin: auto;
  width: 90vw;
  background: #bbb;
  margin-bottom: 20px;
}
img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  border: solid 1px #000;
}
#img-caption {
  margin-top: 10px;
  font-style: italic;
}
#article {
  text-align: left;
  width: 80vw;
  max-width: 800px;
  margin: auto;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #666;
  text-decoration: underline;
}
