body {
  margin: auto;
  font-family: Jost;
}
#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  border-bottom: solid 2px #000;
  background: #fff;
  z-index: 1;
}
#header-img {
  margin-left: 20px;
  height: 50px;
  width: auto;
}
h2 {
  display: inline;
  letter-spacing: 2px;
}
#nav-bar {
  float: right;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
}
.nav-item {
  width: 60px;
  margin-left: 20px;
  padding: 20px 5px 0px 5px;
  text-align: center;
  vertical-align: center;
}
.nav-link {
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
}
.nav-link:hover {
  color: #999;
  text-decoration: none;
}
main {
  margin: 100px auto 80px auto;
  width: 800px;
  height: auto;
}
section:not(:last-child) {
  padding: 50px 0px 20px 0px;
  position: relative;
  text-align: left;
  border-bottom: solid 1px #000;
}
hr {
  height: 1px;
  border: 0px;
  background: #000;
}
#demo div {
  display: flex;
  justify-content: center;
}
#contact {
  margin-top: 30px;
}
#form {
  margin-top: 50px;
}
#email {
  padding: 5px;
}
#submit {
  padding: 10px 20px 10px 20px;
  color: #fff;
  background: #333;
  margin-left: 10px;
  border: 0px;
  border-radius: 20px;
}
#submit:hover {
  background: #777;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-left {
  width: 50%;
  margin-right: 20px;
}
.flex-right {
  width: 50%;
  margin-left: 20px;
}
.flex-img {
  width: 100%;
  height: auto;
}
@media (max-width:800px) {
   main {
    width: 90vw;
  }
}
