body {
  margin: auto;
  font-family: 'Barlow';
}
#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 1;
  background: #fff;
  border-bottom: solid 1px #000;
}
#navbar ul {
  display: flex;
  list-style: none;
  margin: 0px 20px;
}
#navbar a {
  display: block;
  height: 20px;
  padding: 15px 20px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
}
#navbar a:hover {
  text-decoration: underline;
}
#welcome-section {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 30%;
  vertical-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 8px;
  display: inline;
}
#welcome-section p {
  font-size: 1.2em;
  letter-spacing: 0.5px;
}
#projects {
  text-align: center;
  margin-bottom: 20px;
  height: auto;
  min-height:100vh;
}
#project-grid {
  display: block;
  margin: 10% auto;
  width: 80%;
  height: auto;
  margin-bottom: 6rem;
}
.project-tile {
  display: block;
  float: left;
  width: 85%;
  height: auto;
  margin: 4%;
  padding: 2%;
  border: solid 2px #555;
}
.project-tile img {
  width: 100%;
  height: auto;
}
.project-title {
  text-transform: uppercase;
  position: relative;
  top: -20px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  background: #555;
} 
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#contact {
  width: 100%;
  min-height: 30vh;
  text-align: center;
  padding-top: 10vh;
}

#contact ul {
  margin: auto;
  list-style: none;
  margin: 0px 20px;
  padding-left: 0px;
}
#contact li {
  display: inline;
  padding: 10px;
}
@media screen and (min-width: 800px) {
  #project-grid {
    width: 1020px;
    margin: auto;
  }
  .project-tile {
    width: 36%;
  }
}
